<section data-ng-controller="TasksController" data-ng-init="findOne()">
    <span>{{task.created | date:'medium'}}</span>/
    <span>{{task.user.name}}</span>
    <h2>{{date | date:'dd.MM.yyyy'}}</h2>
    <div data-ng-show="global.user._id == task.user._id">
        <a class="btn" href="/#!/tasks/{{task._id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>{{task.time}}</div>
</section>
