<section data-ng-controller="TasksController" data-ng-init="findOne()">
    <span>Created: {{task.created | date:'dd.MM.yyyy hh:mm'}} by {{task.user.name}}</span>
    <br/>

    Day: <span>{{task.date | date:'dd.MM.yyyy'}}</span> Time:<span>{{task.time}}</span>
    <div data-ng-show="global.user._id == task.user._id">
        <a class="btn" href="/#!/tasks/{{task._id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    
</section>
